#share-dialog {
	width: 80%;
}

#share-dialog-layout {
	align-items: start;
	min-width: 50em;
	height: 90%;
	overflow-y: auto;
}
.share-dialog-field {
	width: 100%;
}

#headingLayout {
	width: 100%;
	max-height: 10%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
}

#closeIcon {
	right: 0;
	position: absolute;
	bottom: 2.1em;
}
