#startPage-Heading {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 50px;
}

#horizontalLine {
	align-self: center;
	width: 55em;
	max-width: 100%;
	min-height: 1px;
}

#textContainer {
	max-width: 55em;
}

#linkContainer {
	margin: 0;
}

#slideProgress {
	width: 55em;
	max-width: 100%;
	min-height: 1px;
	margin-top: 30px;
	margin-bottom: 0;
}

#startPage {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

#slideShow {
	height: var(--paper-slide-height);
	width: 100%;
}

#startPage::before {
	position: absolute;
}

#startPage #content {
	width: 100%;
	overflow-y: auto;
	margin-top: 0;
	padding: 1em 1em;
	justify-content: start;
	align-items: center;
}

footer {
	width: 100%;
	padding-bottom: 1em;
	background-color: white;
}
