#start-page-heading {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 50px;
}

#horizontal-line {
	align-self: center;
	width: 55em;
	max-width: 100%;
	min-height: 1px;
}

#start-text-container {
	max-width: 55em;
}

#start-link-container {
	margin: 0;
}

#slide-progress {
	width: 55em;
	max-width: 100%;
	min-height: 1px;
	margin-top: 30px;
	margin-bottom: 0;
}

#start-page {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

#slide-show {
	height: var(--paper-slide-height);
	width: 100%;
}

#start-page::before {
	position: absolute;
}

#start-page #start-page-content {
	width: 100%;
	overflow-y: auto;
	margin-top: 0;
	padding: 1em 1em;
	justify-content: start;
	align-items: center;
}

footer {
	width: 100%;
	padding-bottom: 1em;
	background-color: white;
}
