#scroller {
    width: 100%;
    height: 100%;
    margin: 0;
}
#content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

tc-proof-tree {
    border-style: solid;
    border-color: #37485f;
}

tc-unification {
    background-color: #e9f2fd;
}