tc-unification {
	background-color: #e9f2fd;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	min-height: 10em;
	overflow-x: auto;
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
}
