#contentLayout {
	height: 80vh;
}

#headingLayout {
	width: 80vw;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

#languageSelect {
	position: absolute;
	right: 0;
}