#contentLayout {
	width: 1000px !important;
	padding-left: 0;
	padding-right: 0;
}

#headingLayout {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

#languageSelect {
	position: absolute;
	right: 0;
}

.help-field {
	justify-content: center;
	align-items: center;
}