#contentLayout {
	width: 1000px !important;
	padding-left: 0;
	padding-right: 0;
	height: 525px;
}

#headingLayout {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

#languageSelect {
	position: absolute;
	right: 0;
}

#accordion {
	width: 100%;
}

#closeIcon {
	right: 0;
	position: absolute;
	bottom: 2.1em;
}

.help-field {
	justify-content: center;
	align-items: center;
}

pre {
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

div {
	margin: 0;
}