#infoHeader {
	display: flex;
	position: relative;
	width: 30vw;
	align-items: center;
	justify-content: center;
}

#infoContent {
	align-items: flex-start;
}

#inputSyntax {
	font-family: "Courier";
	margin-top: 1.5em;
}

#closeIcon {
	right: 0;
	position: absolute;
	bottom: 2.1em;
}