#info-header {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

#info-content {
	align-items: flex-start;
}

.input-syntax {
	font-family: "Courier";
	margin-top: 1.5em;
}