#assLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

#headingLayout {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

#closeIcon {
	right: 0;
	position: absolute;
	bottom: 2.1em;
}

#assButtons {
	display: flex;
	justify-content: center;
	width: 520px;
}

#assContainer {
	border-radius: 4px;
	overflow-y: auto;
	height: 40vh;
}