#header {
	height: 100%;
	min-width: 100%;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	
	padding: 0.25em;
}


#header img {
	border-radius: 50%;
	height: var(--lumo-size-s);
	margin-left: auto;
	margin-right: var(--lumo-space-m);
	overflow: hidden;
	background-color: var(--lumo-contrast);
}

#viewTitle {
	font-size: var(--lumo-font-size-l);
	cursor: pointer;
	align-self: center;
	margin: 0 47% 0.5% 0;
}

#viewTitle a {
	color: var(--lumo-header-text-color);
}

#inputBar {
	width: 75%;
	flex-grow: 1;
	justify-content: end;
}

#helpIcon {
	color: white;
	align-self: center;
}

#top-line {
	width: 100%;
	justify-content: space-between;
}

#language-select {
	margin-right: auto;
}
