#header {
	height: var(--lumo-size-xl);
	min-width: 100%;
	align-items: center;
	overflow-x: auto;
}

#header img {
	border-radius: 50%;
	height: var(--lumo-size-s);
	margin-left: auto;
	margin-right: var(--lumo-space-m);
	overflow: hidden;
	background-color: var(--lumo-contrast);
}

#viewTitle {
	font-size: var(--lumo-font-size-l);
	cursor: pointer;
}

#viewTitle a {
	color: var(--lumo-header-text-color);
}

#helpIcon {
	margin-right: 1em;
}

#inputBar {
	flex-grow: 1;
	justify-content: end;
}


