#header {
  height: var(--lumo-size-xl);
  width: 100%;
  align-items: center;
}

#header img {
  border-radius: 50%;
  height: var(--lumo-size-s);
  margin-left: auto;
  margin-right: var(--lumo-space-m);
  overflow: hidden;
  background-color: var(--lumo-contrast);
}

#viewTitle {
  font-size: var(--lumo-font-size-l);
  cursor: pointer;
}

#helpIcon {
	margin-left: auto;
	margin-right: 1em;
}

@media (max-width: 500px) {
   	#inputBar {
		margin: auto;
	}
	
	#viewTitle {
		margin-right: 5em;
	}
}

@media (min-width: 1000px) {
    #inputBar {
		margin-left: 26em;
	}
	
	#viewTitle {
		margin-right: auto;
	}
}





