body {
	--paper-slide-height: 500px;
}

vaadin-button {
	min-width: 0;
}

vaadin-button, iron-icon, vaadin-drawer-toggle {
	cursor: pointer;
}

.close-icon {
	right: 0;
	position: absolute;
	bottom: 2.1em;
}

.close-icon:hover {
	color: rgb(120, 120, 120);
}
